img {
    max-width: 100%;
    
}
.item {
padding: 0;
text-align: center;
min-height: 400px;
}
.item__poster {
    background-position: center center;
    background-size: cover;
    max-width: 100%;
    height: 500px;
    z-index: 100;

}
.spiner {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border: 8px dashed;
    border-radius: 50%;
    border-left-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-top-color: #aaa;
    border-right-color: #555;
    border-bottom-color: #000;
    animation: spin 900ms infinite linear;
    -webkit-animation: spin 900ms infinite linear;
}
@keyframes spin {
    100% {
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -o-transform:rotate(360deg);
}
}
.img_poster {
    height: 360px;
}